<!-- James Bhagoutie, 991554085-->
<mat-tab-group mat-stretch-tabs animationDuration="0ms">
    <mat-tab label="My Courses">
      <ng-template mat-tab-label>
        <mat-icon color="primary">account_box</mat-icon> 
        <br><br> 
        <p> Courses </p>
      </ng-template>
      
      <li *ngFor="let cls of myclasses; let i=index" id="s{{i}}"
      (click)="onClickMe(i)">{{cls.CourseName}}
      <div id='d{{i}}' [ngStyle]="{display : showHideText(i)}">
        <strong>Class Name:</strong> {{cls.CourseName}}
        <br> <strong>Credits:</strong> {{cls.Credits}}
        <br> <strong>Description:</strong> {{cls.Description}}
        <br> </div></li>
        
    </mat-tab>
    
    <mat-tab label="My Info"> 
      <ng-template mat-tab-label>
        <mat-icon color="warn">info</mat-icon> 
        <br><br> 
        <p> My Info </p>
      </ng-template>
      
      <table class='tab2'>
        <tr>
          <td class='tab2'>
            Name:
          </td>
          <td class='tab2'>
            {{bio.sname}}
          </td>
        </tr>

        <tr>
          <td class='tab2'>
            Student Id:
          </td>
          <td class='tab2'>
            {{bio.sid}}
          </td>
        </tr>

        <tr>
          <td class='tab2'>
            Status:
          </td>
          <td class='tab2'>
            {{bio.status}}
          </td>
        </tr>

        <tr>
          <td class='tab2'>
            Image:
          </td>
          <td class='tab2'>
            <img src='{{bio.img}}' alt="image of sunset">
          </td>
        </tr>
      </table>

    </mat-tab>
    
    <mat-tab label="Display New or Used Cars"> 
      <ng-template mat-tab-label>
        <mat-icon color="accent">directions_car</mat-icon> <p> Display New or Used Cars </p> <mat-icon color="accent">electric_car</mat-icon>
      </ng-template>
      <button mat-raised-button class='tab3button' (click)="displayJSON(1)">
        List of New Cars <mat-icon >new_releases</mat-icon>
      </button>
      <hr>
      <button mat-raised-button class='tab3button' (click)="displayJSON(2)">
        List of Used Cars <mat-icon >support</mat-icon>
      </button>
      <br>
      <div  class='tab3' [ngStyle]="{display : showHideTable(1)}">
        <br>
      <h3 class='tab3'>List of New Cars</h3>
      <table class="tab3">
        <tr>  
          <th>Make</th>  
          <th>Type</th>   
          <th>Engine</th> 
          <th>Cost</th> 
          <th>Colour</th>  
        </tr>
        <tr  *ngFor="let cls of new">
          <td> {{cls.make}} </td>
          <td> {{cls.type}} </td>
          <td> {{cls.engine}} </td>
          <td> {{cls.cost}} </td>
          <td> {{cls.color}} </td>
        </tr>
      </table>
    </div>
      <div class='tab3' [ngStyle]="{display : showHideTable(2)}">
        <br>
      <h3 class='tab3'>List of Used Cars</h3>
      <table class="tab3">
        <tr>  
          <th>Make</th>  
          <th>Type</th>   
          <th>Engine</th> 
          <th>Cost</th> 
          <th>Colour</th>  
        </tr>
        <tr  *ngFor="let cls of used">
          <td> {{cls.make}} </td>
          <td> {{cls.type}} </td>
          <td> {{cls.engine}} </td>
          <td> {{cls.cost}} </td>
          <td> {{cls.color}} </td>
        </tr>
      </table>
    </div>
    </mat-tab>
  </mat-tab-group>
